# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
dist/
build/

# Environment variables
.env
.env.*

# Vite cache
.vite/
.cache/

# System files
.DS_Store
Thumbs.db

# Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
